body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;

}
h1{
    padding: 20px;
    
    color: hotpink;
}
h2{
    padding: 20px;
    color: hotpink;
}
button{
    padding: 20px;
    color: burlywood
;
}
