* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    font-family: 'Segoe UI', sans-serif;
}

/* container effect */
.paper {
    background: #fff;
    padding: 30px 25px;
    width: 230px;
    border-radius: 18px;
    border: 2px solid rgba(255, 0, 100, 0.3);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    text-align: center;
    position: absolute;
    cursor: pointer;
    transition: all 0.4s ease;

}
.paper {
    position: absolute;
}

.paper:nth-child(1) { z-index: 5; }
.paper:nth-child(2) { z-index: 4; }
.paper:nth-child(3) { z-index: 3; }
.paper:nth-child(4) { z-index: 2; }
.paper:nth-child(5) { z-index: 1; }

/* image */
.paper img {
    width: 100%;
    border-radius: 14px;
    margin-bottom: 12px;
}

/* text */
.paper p {
    font-size: 14px;
    font-weight: 600;
    color: #e6005c;
    line-height: 1.4;
}

/* hover = heart skip */
.paper:hover {
    transform: scale(1.08) rotate(-1deg);
    box-shadow: 0 20px 40px rgba(255, 0, 90, 0.4);
}
